.actividade-model{
    -fx-min-height: 550;
    -fx-spacing: 20;
    -fx-max-width: 400;
}

.actividade-model-block{
    -fx-max-width: 400;
   
}

.actividade-model HBox{
    -fx-spacing: 10;
    -fx-padding: 0 10;
}
.actividade-model VBox{
    -fx-spacing: 10;
}

.actividade-model Text{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.actividade-model Label{
    -fx-size: 14;
     -fx-min-width: 200;
}
.actividade-model  .seg-text Label{
    -fx-min-width: 0;
}
.actividade-model .text-descricao{
    -fx-wrap-text: true;
    -fx-max-width: 350;
    -fx-max-height: 100;
    
}

.actividade-model  .titleModel{
    -fx-padding: 0 10;
    -fx-translate-y: 30;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-min-width: 0;
}

.actividade-model .bloco{
    -fx-pref-width: 250;
}

.actividade-model .buttonColor{
    -fx-min-width: 400;
    -fx-padding: 10;
}


.actividade-model VBox.actividade-img{
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-radius: 0 16 0 16;
    -fx-translate-y: 0;
    -fx-pref-height: 130;
    -fx-min-height: 130;
}

.actividade-img-block{
    -fx-background-color: linear-gradient(transparent,transparent, black);
    -fx-pref-height: 130;
    -fx-min-height: 130;
}

.actividade-img .more *{
    -fx-fill: white;
    -fx-translate-y: 10;
}


.actividade-model .desc{
    -fx-padding: 0 20;
}

.actividade-model .bloco .glyph-icon {
    -fx-fill: #CB2020;
}