@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    *{
        @apply box-border m-0 p-0;
    }

    html{
        @apply text-html-size;
    }

    #boxGaleria{
        --width:250px;
    }

    p,h3{
        @apply text-text-pargh
    }

    .text-min-white{
        @apply text-xl text-white;
    }

    .title-min-white{
        @apply text-2xl text-white;
    }

    .liNavBar{
        @apply text-white text-li-nav flex flex-col font-semibold cursor-pointer h-9 justify-center transition-all duration-300 ease-in-out;
    }

    footer li:hover{
        @apply text-primary transition-all duration-300 ease-in-out ; 
    }

    .liNavBar:hover span{
        @apply bg-white rounded-full py-1 relative bottom-1 w-full transition-all duration-300; 
    }

    .liNavBar span{
        @apply bg-white rounded-full py-1 relative bottom-1 w-0 transition-all duration-300; 
    }

    .liNavBar.selected span{
        @apply bg-primary rounded-full py-1 relative bottom-1 w-full; 
    }

    .liNavBar{
        @apply relative -top-1; 
    }

    

    .liNavBar p{
        @apply px-2; 
    }

    .inputRectangle{
        @apply bg-white rounded-lg shadow-md p-4 flex flex-col gap-2 outline-none ;
    }

    .buttonRectangle{
        @apply bg-primary text-white text-text-pargh rounded-lg shadow-md p-4 flex flex-col gap-2 outline-none cursor-pointer transition-all duration-300;
    }

    .buttonRectangle-white{
        @apply bg-white text-primary text-text-pargh rounded-lg shadow-md p-4 flex border-primary border flex-col gap-2 outline-none cursor-pointer transition-all duration-300;
    }

    .buttonRectangle-white:hover{
        @apply bg-primary/50 text-white transition-all duration-300;
    }

    .buttonRectangle:hover{
        @apply bg-primary/40 transition-all duration-300;
    }

    .buttonRectangle.min,.buttonRectangle-white.min{
        @apply w-[200px];
    }

    .buttonRectangle.artcle,.buttonRectangle-white.artcle{
        @apply rounded-none rounded-b-xl  w-full ;
    }

    .buttonRectangle.artcle{
        @apply rounded-r-none ;
    }

    .buttonRectangle-white.artcle{
        @apply rounded-l-none ;
    }

    .h2-title{
        @apply  text-primary font-semibold text-h2-title mb-2 flex flex-col;
    }

    footer li{
        @apply text-text text-text-pargh flex flex-col font-semibold cursor-pointer h-9 justify-center transition-all duration-300 ease-in-out;
    }

    .h2-title.sec span{
        @apply w-[50px]  bg-primary rounded-lg py-1 ; 
    }

    .h2-title.sec{
        @apply my-10 text-h2-title-big
    }

    #carrosel p{
        @apply w-[75vw] text-center text-li-nav text-text tracking-[2px] leading-[30px];
 
    }

    #carrosel div.selected{
        @apply transition-all duration-1000 ease-in-out;
    }

    #carrosel div{
        @apply  transition-all duration-1000 ease-in-out;;
    }

    #painel-corresel i{
        @apply w-[10px] h-[10px] rounded-[100%] bg-[rgb(194,_194,_194)] m-[10px] cursor-pointer
    }

    #painel-corresel i.selected{
        @apply w-[10px] h-[10px] rounded-[100%] bg-primary m-[10px]
    }
    
    #painel-corresel{
        @apply w-[10px] h-[10px] rounded-[100%] relative z-10 flex justify-around w-max
    }
    
    ul.tema li{
        @apply  text-subtitle text-black tracking-[2px] leading-[30px] px-5 flex flex-col cursor-pointer;
    }

    ul.tema.min li{
        @apply  text-text-pargh tracking-normal;
    }

    ul.tema li span{
        @apply w-[0] bg-black rounded-lg py-[1px] transition-all duration-300 ease-in-out;
    }

    ul.tema li:hover span{
        @apply w-full bg-primary ;
    }

    ul.tema li.selected span{
        @apply w-full bg-primary/45 px-5;
    }

    #carrosel {
        will-change: transform; /* Otimização de performance */
      }
      
      .selected {
        opacity: 1;
      }
      
      #carrosel div:not(.selected) {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      #painel-corresel i {
        transition: background-color 0.3s ease;
        cursor: pointer;
      }
      
      #painel-corresel i:hover {
        background-color: #ccc !important;
      }
    
      #carrosel strong{
        color:#CB2020;
        font-size:1.5rem;
        font-weight:bolder;
      }

      input{
        @apply text-text-pargh
      }

      .artigo figure:hover div{
        opacity: 1;
        transition: 0.3s all;
      }

      .artigo figure:not(:hover) div{
        opacity: 0;
        transition: 0.3s all;
      }

      #modal-content:not(.show){
        display: none;
        opacity: 0;
      }

      .rect-image img{
       @apply w-[250px] h-[350px] object-cover max-w-[250px] shadow-2xl opacity-50 transition-all duration-300
        
      }


      .rect-image{
        position: relative;
        left: 100%;
        width: var(--width);
       }

       @keyframes autoRun {
         from{
            left: 100%;
         }
         to{
            left: 0;
         }
       }

      .rect-image.selected img{
        @apply w-[300px] h-[450px] object-cover max-w-[300px] opacity-100 shadow-xl transition-all duration-300
       
            
       }

       #carrosel div:not(.selected) {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

       .rect-image figure{
        @apply w-[300px] h-[450px] object-cover max-w-[300px] opacity-100 shadow-xl transition-all duration-300
         
       }
}
